@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --color: white;
}

.header {
    color: white !important;
}

html,
body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    color: var(--color);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        conic-gradient(
            from -64.58deg at 47.29% 34.6%,
            #551d38 -81.63deg,
            #256381 63.09deg,
            #551d38 278.37deg,
            #256381 423.09deg
        );
}

a {
    color: inherit;
    text-decoration: none;
}

/* https://css.glass */
.main-editor {
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.menu-bottom {
    /* From https://css.glass */
    /*background: rgba(255, 255, 255, 0.69);*/
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.editor-option[data-active="true"] {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

.editor-option:focus {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

.common-item {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

.common-item-command {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

* {
    box-sizing: border-box;
}
